# **(ADD THE NOTEBOOK NAME HERE)**

## Objectives

* Write your notebook objective here, for example, "Fetch data from Kaggle and save as raw data", or "engineer features for modelling"

## Inputs

* Write down which data or information you need to run the notebook 

## Outputs

* Write here which files, code or artefacts you generate by the end of the notebook 

## Additional Comments

* If you have any additional comments that don't fit in the previous bullets, please state them here.

In [8]:
#Check Python version
! python --version

Python 3.12.8

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [2]:
import os
current_dir = os.getcwd()
current_dir

'c:\\Users\\jerem\\OneDrive\\Documents\\CodeInstitute\\vscode-projects\\Capstone_Evaluating_Domestic_Electrification_Measures\\jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [3]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [4]:
current_dir = os.getcwd()
current_dir

'c:\\Users\\jerem\\OneDrive\\Documents\\CodeInstitute\\vscode-projects\\Capstone_Evaluating_Domestic_Electrification_Measures'

# Section 1

Section 1 content

Import necessary Python Packages

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Read 2023 car database data obtained from Kaggle at
https://www.kaggle.com/datasets/kkhandekar/cheapest-electric-cars

which itself was scraped in 2023 from 
https://ev-database.org/ which may have later data.

Insufficient time to update with latter, but may be a future improvement as ecars are fast improving in price and technology.

In [12]:
df_ecars = pd.read_csv('Data/1_Raw/Cheapestelectriccars-EVDatabase_2023.csv')
df_ecars

,Name,Subtitle,Acceleration,TopSpeed,Range,Efficiency,FastChargeSpeed,Drive,NumberofSeats,PriceinGermany,PriceinUK
0,Lucid Air Dream Edition P,118 kWh useable battery Available sin...,2.7 sec,270 km/h,645 km,183 Wh/km,820 km/h,All Wheel Drive,5,"€218,000",NaN
1,Porsche Taycan Turbo S,83.7 kWh useable battery Available si...,2.8 sec,260 km/h,400 km,209 Wh/km,980 km/h,All Wheel Drive,4,"€189,668","£142,400"
2,Audi e-tron GT RS,85 kWh useable battery Available sinc...,3.3 sec,250 km/h,405 km,210 Wh/km,1000 km/h,All Wheel Drive,4,"€146,050","£115,000"
3,Renault Zoe ZE50 R110,52 kWh useable battery Available sinc...,11.4 sec,135 km/h,315 km,165 Wh/km,230 km/h,Front Wheel Drive,5,"€36,840",NaN
4,Audi Q4 e-tron 35,52 kWh useable battery Available sinc...,9.0 sec,160 km/h,285 km,182 Wh/km,360 km/h,Rear Wheel Drive,5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
304,Volkswagen ID.7 Pro,77 kWh useable battery Expected from ...,8.0 sec,180 km/h,470 km,164 Wh/km,700 km/h,Rear Wheel Drive,5,"€55,000","£53,000"
305,Volkswagen ID.7 Pro S,86 kWh useable battery Expected from ...,7.0 sec,180 km/h,520 km,165 Wh/km,800 km/h,Rear Wheel Drive,5,"€60,000","£56,000"
306,Polestar 4 Long Range Single Motor,94 kWh useable battery Expected from ...,7.4 sec,180 km/h,510 km,184 Wh/km,760 km/h,Rear Wheel Drive,5,"€60,000","£55,000"
307,Polestar 4 Long Range Dual Motor,94 kWh useable battery Expected from ...,3.8 sec,200 km/h,475 km,198 Wh/km,710 km/h,All Wheel Drive,5,"€65,000","£60,000"
308,Maserati Grecale Folgore,95 kWh useable battery Expected from ...,4.1 sec,220 km/h,405 km,235 Wh/km,440 km/h,All Wheel Drive,5,NaN,"£135,000"

Remove rows with no UK costs. Note I began looking some up but realised these are inconsistent being more recent so decided to omit this step for consistency.  As above ideally the whole table would be reviewed with more up to date data e.g. new cars on the market and often reduced prices in 2025.

In [19]:
df_ecars = df_ecars.dropna(subset=['PriceinUK'])
df_ecars

,Name,Subtitle,Acceleration,TopSpeed,Range,Efficiency,FastChargeSpeed,Drive,NumberofSeats,PriceinGermany,PriceinUK
1,Porsche Taycan Turbo S,83.7 kWh useable battery Available si...,2.8 sec,260 km/h,400 km,209 Wh/km,980 km/h,All Wheel Drive,4,"€189,668","£142,400"
2,Audi e-tron GT RS,85 kWh useable battery Available sinc...,3.3 sec,250 km/h,405 km,210 Wh/km,1000 km/h,All Wheel Drive,4,"€146,050","£115,000"
5,Tesla Model Y Performance,75 kWh useable battery Available sinc...,3.7 sec,250 km/h,415 km,181 Wh/km,640 km/h,All Wheel Drive,5,"€63,667","£59,990"
6,Porsche Taycan 4 Cross Turismo,83.7 kWh useable battery Available si...,5.1 sec,220 km/h,425 km,197 Wh/km,1050 km/h,All Wheel Drive,4,"€98,514","£84,500"
7,Renault Zoe ZE50 R135,52 kWh useable battery Available sinc...,9.5 sec,140 km/h,310 km,168 Wh/km,230 km/h,Front Wheel Drive,5,"€37,840","£29,995"
...,...,...,...,...,...,...,...,...,...,...,...
304,Volkswagen ID.7 Pro,77 kWh useable battery Expected from ...,8.0 sec,180 km/h,470 km,164 Wh/km,700 km/h,Rear Wheel Drive,5,"€55,000","£53,000"
305,Volkswagen ID.7 Pro S,86 kWh useable battery Expected from ...,7.0 sec,180 km/h,520 km,165 Wh/km,800 km/h,Rear Wheel Drive,5,"€60,000","£56,000"
306,Polestar 4 Long Range Single Motor,94 kWh useable battery Expected from ...,7.4 sec,180 km/h,510 km,184 Wh/km,760 km/h,Rear Wheel Drive,5,"€60,000","£55,000"
307,Polestar 4 Long Range Dual Motor,94 kWh useable battery Expected from ...,3.8 sec,200 km/h,475 km,198 Wh/km,710 km/h,All Wheel Drive,5,"€65,000","£60,000"
308,Maserati Grecale Folgore,95 kWh useable battery Expected from ...,4.1 sec,220 km/h,405 km,235 Wh/km,440 km/h,All Wheel Drive,5,NaN,"£135,000"

Add columns to convert technoeconomic data to numerical format, concatenate car range, battery size and index to facilitate a sort in ascending size order, and assign a new index.

Begin creating main Ecar cost and CO2 saving calculation model dataframe

In [14]:
data = []
for c in range(1,199):
    for a in range(1, 16):
        for r in range(1, 5):
            row = [2500+2500*a, r*50,c]
            data.append(row)
        row = [2500+2500*a,238,c]
        data.append(row)
df_EcarModel = pd.DataFrame(data, columns=['Annual mileage','Nominal Range (miles)', 'Ecar Index'])
df_EcarModel['average daily mileage'] = df_EcarModel['Annual mileage']/365
df_EcarModel['Range2'] = df_EcarModel[['Nominal Range (miles)', 'average daily mileage']].max(axis=1)
df_EcarModel

,Annual mileage,Nominal Range (miles),Ecar Index,average daily mileage,Range2
0,5000,50,1,13.698630,50.000000
1,5000,100,1,13.698630,100.000000
2,5000,150,1,13.698630,150.000000
3,5000,200,1,13.698630,200.000000
4,5000,238,1,13.698630,238.000000
...,...,...,...,...,...
14845,40000,50,198,109.589041,109.589041
14846,40000,100,198,109.589041,109.589041
14847,40000,150,198,109.589041,150.000000
14848,40000,200,198,109.589041,200.000000
14849,40000,238,198,109.589041,238.000000

---

# Section 2

Section 2 content

---

NOTE

* You may add as many sections as you want, as long as it supports your project workflow.
* All notebook's cells should be run top-down (you can't create a dynamic wherein a given point you need to go back to a previous cell to execute some task, like go back to a previous cell and refresh a variable content)

---

# Push files to Repo

* In cases where you don't need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.

In [7]:
import os
try:
  # create your folder here
  # os.makedirs(name='')
except Exception as e:
  print(e)

IndentationError: expected an indented block after 'try' statement on line 2 (553063055.py, line 5)